body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f4f8;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-size: 18px;
}

.box {
    background-color: #ffffff;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
    color: #2c3e50;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

input[type="file"] {
    margin-top: 10px;
}

input[type="submit"] {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #2980b9;
}

#animalImages {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

#animalImages img {
    max-width: 200px;
    max-height: 200px;
    object-fit: contain;
}

#fileInfoBox {
    margin-top: 40px;  /* Add space above the File Information div */
}

#fileInfo {
    margin-top: 20px;
}

#fileInfo p {
    margin: 5px 0;
}

#filePreview {
    margin-top: 20px;
    max-height: 500px;
    overflow: hidden;
}

#filePreview iframe {
    width: 100%;
    height: 500px;
    border: none;
}

#filePreview img {
    max-width: 100%;
    max-height: 500px;
    object-fit: contain;
}
